@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/roboto-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
  url('../assets/font/roboto-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/roboto-regular.woff2') format('woff2'),
  url('../assets/font/roboto-regular.woff') format('woff'),
  url('../assets/font/roboto-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/font/roboto-bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../assets/font/roboto-bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/roboto-bold.woff2') format('woff2'),
  url('../assets/font/roboto-bold.woff') format('woff'),
  url('../assets/font/roboto-bold.svg#Roboto') format('svg');
}