@import '~./global';

.nav {
  display: flex;
  flex-grow: 1;
  font-size: 16px;


  &__link {
    @include transition(color .3s ease);

    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
    text-transform: uppercase;

    &:hover {
      color: $color_blue;
    }

    &_last {
      margin-left: auto;
    }

    &_active {
      pointer-events: none;
      position: relative;

      &:before {
        background-color: $color_black;
        content: '';
        box-shadow: $color_black;
        height: 3px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $media-sm) {
    font-size: 14px;
  }

  @media screen and (max-width: $media-xs) {
    font-size: 13px;
  }

  @media screen and (max-width: 450px) {
    flex-grow: 0;
    margin-left: -10px;
    margin-right: -10px;

    &__link {
      margin-left: 10px;
      margin-right: 10px;

      &_active {
        &:before {
          height: 3px;
        }
      }
    }
  }
}