@import '~./global';

.task {
  &__date {
    color: $color_gray;
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
  }

  &__title {
    @include ellipsis;

    color: #000;
    font-size: 20px;
    margin-bottom: 12px;
  }

  &__buttons {
    display: flex;
    margin: -5px;
  }

  &__button {
    margin: 5px;
  }
}